<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>myselphone</name>
	<displayName><![CDATA[Rachat de téléphone]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Ce module vous permet de racheter des téléphone]]></description>
	<author><![CDATA[ Viaziza]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
